
@{
    ViewData["Title"] = "OvertimeEmp";
    Layout = "~/Layout/_LayoutFikri.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-12">
                <h4 class="page-title">Form Table</h4>
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Form Table</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3>Form Overtime</h3>
                    <div>
                        <span data-toggle="modal" data-target="#mymodal" onclick="ClearScreen();">
                            <button class="btn pull-right hidden-sm-down btn-primary fa fa-plus-square-o" data-toggle="tooltip" title="Create"></button>
                        </span>
                        <!-- ======================== Export  ====================================== -->
                        <a asp-action="Excel" class="btn btn-success pull-right hidden-sm-down fa fa-file-excel-o" data-toggle="tooltip" title="Export Excel"></a>
                        <a asp-action="ExportPdf" class="btn btn-danger pull-right hidden-sm-down fa fa-file-pdf-o" data-toggle="tooltip" title="Export Pdf"></a>
                        <!-- ======================== Export  ====================================== -->
                    </div>
                    <div class="modal fade" id="mymodal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group ">
                                                    <input type="hidden" class="form-control" id="Id" name="Id" />
                                                </div>
                                                <div class="form-group ">
                                                    <input type="hidden" class="form-control" id="EmployeeOption" name="EmployeeOption" value="@ViewBag.SesId" />
                                                </div>
                                                <div class="form-group ">
                                                    <label for="Form">Start Date:</label>
                                                    <input type="datetime-local" class="form-control" id="StartDate" name="StartDate" placeholder="Enter Date" />
                                                </div>
                                                <div class="form-group ">
                                                    <label for="Form">End Date:</label>
                                                    <input type="datetime-local" class="form-control" id="EndDate" name="EndDate" placeholder="Enter Date" />
                                                </div>
                                                <div class="form-group ">
                                                    <label for="Form">Duration:</label>
                                                    <input type="text" class="form-control" id="Duration" name="Duration" placeholder="Enter Duration" />
                                                </div>
                                                <div class="form-group ">
                                                    <label for="SupervisorOption">Supervisor</label>
                                                    <select class="form-control" id="SupervisorOption" name="SupervisorOption"></select>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="DepartmentOption">Department</label>
                                                    <select class="form-control" id="DepartmentOption" name="DepartmentOption"></select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn-outline-success" data-dismiss="modal" id="Save" onclick="Save();">Insert</button>
                                    <button type="button" class="btn-outline-warning" data-dismiss="modal" id="Update" onclick="Update();">Update</button>
                                    <button type="button" class="btn-outline-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="form" class="table">
                            <thead>
                                <tr>
                                    <th>Form Id</th>
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Duration</th>
                                    <th>Supervisor</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    @Html.Hidden("SesId", (int)ViewBag.SesId)
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
        <div class="white-box">
            <div class="chartdiv" id="linechart"></div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

@section Scripts{

    <!-- jQuery -->
    <script src="~/myadmin-lite/bower/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/myadmin-lite/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/myadmin-lite/bower/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="js/jquery.nicescroll.js"></script>
    <!--Morris JavaScript -->
    <script src="~/myadmin-lite/bower/raphael/raphael-min.js"></script>
    <script src="~/myadmin-lite/bower/morrisjs/morris.js"></script>
    <!--Wave Effects -->
    <script src="~/myadmin-lite/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js "></script>

    <!-- end - This is for export functionality only -->
    <script src="~/myadmin-lite/js/myadmin.js"></script>
    <script src="~/myadmin-lite/js/dashboard1.js"></script>
    <!-- Amchart Script -->
    <script src="~/amcharts_4.9.33/amcharts4/core.js"></script>
    <script src="~/amcharts_4.9.33/amcharts4/charts.js"></script>
    <script src="~/amcharts_4.9.33/amcharts4/themes/animated.js"></script>

    <script src="~/Scripts/FormEmpScript.js"></script>   
}

