@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/myadmin-lite/images/favicon.png">
    <title>Overtime App</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/myadmin-lite/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/myadmin-lite/bower/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/myadmin-lite/bower/morrisjs/morris.css" rel="stylesheet">
    <link href="~/myadmin-lite/asset/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/myadmin-lite/css/style.css" rel="stylesheet">
    <link href="~/css/CustomStyle.css" rel="stylesheet" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="https://localhost:44300/Home/WellPage"><i class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs">Overtime App</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="open-close hidden-xs hidden-lg
 waves-effect waves-light">
                            <i class="ti-arrow-circle-left ti-menu"></i>
                        </a>
                    </li>
                </ul>
                @if (Context.Session.GetString("SessionRole") != null)
                {
                    <ul class="nav navbar-top-links navbar-right pull-right">
                        <li>
                            <a asp-action="Logout">Log Out</a>
                        </li>
                    </ul>
                }

            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="navbar-default sidebar nicescroll" role="navigation">
            <div class="sidebar-nav navbar-collapse ">
                <ul class="nav" id="side-menu">
                    @if (ViewBag.SesRole == "Admin")
                    {
                        <li>
                            <a href="https://localhost:44300/Employees/" class="waves-effect"><i class="fa fa-user fa-fw"></i>Employee Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Supervisors/" class="waves-effect"><i class="fa fa-user-o fa-fw"></i>Supervisor Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Departments/" class="waves-effect"><i class="fa fa-users fa-fw"></i>Department Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Forms/" class="waves-effect"><i class="fa fa-pencil-square fa-fw"></i>Form Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Validations/" class="waves-effect"><i class="ti-check-box fa-fw"></i>Validations Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Admins/" class="waves-effect"><i class="fa fa-user-circle-o fa-fw"></i>Admin Data</a>
                        </li>
                    }
                    else if (ViewBag.SesRole == "Employee")
                    {
                        <li>
                            <a href="https://localhost:44300/Employees/EmployeeData" class="waves-effect"><i class="fa fa-user fa-fw"></i>@ViewBag.SesName Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Forms/OvertimeEmp" class="waves-effect"><i class="fa fa-pencil-square fa-fw"></i>Overtime Form</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Validations/OvertimeVal" class="waves-effect"><i class="ti-check-box fa-fw"></i>Overtime Validation Report</a>
                        </li>
                    }
                    else if (ViewBag.SesRole == "Supervisor")
                    {
                        <li>
                            <a href="https://localhost:44300/Supervisors/SupervisorData" class="waves-effect"><i class="fa fa-user-o fa-fw"></i>@ViewBag.SesName Data</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Validations/OvertimeVal" class="waves-effect"><i class="ti-check-box fa-fw"></i>Overtime Validation</a>
                        </li>
                        <li>
                            <a href="https://localhost:44300/Forms/OvertimeEmp" class="waves-effect"><i class="fa fa-pencil-square fa-fw"></i>Overtime Form</a>
                        </li>
                    }
                    else
                    {
                    }
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- Page Content -->
        @RenderBody();
        <!-- /#page-wrapper -->
        @*<footer class="footer text-center"> 2017 &copy; Myadmin brought to you by wrappixel.com </footer>*@
    </div>
    <!-- /#wrapper -->
    @RenderSection("Scripts", required: false);

</body>

</html>
