@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Layout/_LayoutEmpty.cshtml";
}

<div class="cover">
    <h1><i class="glyphicon glyphicon-fire"></i>&nbsp;OverTime</h1>
    <div class="">
        <a asp-action="LoginEmployee" class="btn btn-one">Login Employee</a>
        <a asp-action="LoginSupervisor" class="btn btn-one">Login Supervisor</a>
        <a asp-action="LoginAdmin" class="btn btn-one">Login Admin</a>
    </div>
</div>


@section Scripts{

    <!-- jQuery -->
    <script src="~/myadmin-lite/bower/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/myadmin-lite/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/myadmin-lite/bower/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="js/jquery.nicescroll.js"></script>
    <!--Morris JavaScript -->
    <script src="~/myadmin-lite/bower/raphael/raphael-min.js"></script>
    <script src="~/myadmin-lite/bower/morrisjs/morris.js"></script>
    <!--Wave Effects -->
    <script src="~/myadmin-lite/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js "></script>

    <!-- end - This is for export functionality only -->
    <script src="~/myadmin-lite/js/myadmin.js"></script>
    <script src="~/myadmin-lite/js/dashboard1.js"></script>

}
